{
	email support@44gen.com
	on_demand_tls {
		ask http://localhost:4000/internal/domain-check
	}
}

44gen.com {
	tls /etc/letsencrypt/live/44gen.com/fullchain.pem /etc/letsencrypt/live/44gen.com/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

www.44gen.com {
	tls /etc/letsencrypt/live/44gen.com/fullchain.pem /etc/letsencrypt/live/44gen.com/privkey.pem
	redir https://44gen.com{uri} 301
}

*.44gen.com {
	tls /etc/letsencrypt/live/44gen.com/fullchain.pem /etc/letsencrypt/live/44gen.com/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

tooltrace.io {
	tls /etc/letsencrypt/live/tooltrace.io/fullchain.pem /etc/letsencrypt/live/tooltrace.io/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

www.tooltrace.io {
	tls /etc/letsencrypt/live/tooltrace.io/fullchain.pem /etc/letsencrypt/live/tooltrace.io/privkey.pem
	redir https://tooltrace.io{uri} 301
}

app.tooltrace.io {
	tls /etc/letsencrypt/live/app.tooltrace.io/fullchain.pem /etc/letsencrypt/live/app.tooltrace.io/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

aurixcollection.com {
	tls /etc/letsencrypt/live/aurixcollection.com/fullchain.pem /etc/letsencrypt/live/aurixcollection.com/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

www.aurixcollection.com {
	tls /etc/letsencrypt/live/aurixcollection.com/fullchain.pem /etc/letsencrypt/live/aurixcollection.com/privkey.pem
	redir https://aurixcollection.com{uri} 301
}

abdullah.aurixcollection.com,
aftab.aurixcollection.com,
ahmad.aurixcollection.com,
malik.aurixcollection.com,
uzair.aurixcollection.com {
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto http
		header_up X-Real-IP {remote_host}
	}
}

download.aethersx2apk.pro {
	tls /etc/letsencrypt/live/download.aethersx2apk.pro/fullchain.pem /etc/letsencrypt/live/download.aethersx2apk.pro/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

my.44gen.com {
	tls /etc/letsencrypt/live/my.44gen.com/fullchain.pem /etc/letsencrypt/live/my.44gen.com/privkey.pem
	reverse_proxy localhost:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
	}
}

:443 {
	tls {
		on_demand
	}
	reverse_proxy localhost:4000 {
		header_up X-Forwarded-Proto https
		header_up X-Real-IP {remote_host}
		header_up Host {host}
	}
}

:80 {
	handle /.well-known/acme-challenge/* {
		reverse_proxy localhost:4000
	}
	handle {
		redir https://{host}{uri} 301
	}
}